//主色
$Maincolor: #0081ff !default; //靛青色
//副色
$Subcolor:#1cbbb4 !default;
//浅主色
$Lightcolor:#2db7f5 !default;
//深主色
$Darkcolor:#2b85e4 !default;
//成功
$Successcolor:#19be6b !default;
//警告
$Warningcolor:#ff9900 !default;
//错误
$Errorcolor:#ed4014 !default;
//边框色
$Bordercolor:#dcdee2 !default;
//背景色
$Backgroundcolor:#f8f8f9 !default;
//disable颜色
$Disabledcolor:#c5c8ce !default;
//显眼字体橘色
$Orange:#ff9800 !default;
//淡橘色
$OrangeLittle:#ffac31 !default;
//字体颜色
$Textcolor:#666 !default;

//标题颜色
$titleColor:#333 !default;

// 单色

$rgbColor:#909090 !default;

//骚紫
$purpleColor:#6739b6 !default;

.ripple{
    position: relative;
    //隐藏溢出的径向渐变背景
    overflow: hidden;
}

.ripple:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    //设置径向渐变
    background-image: radial-gradient(circle, #333 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    //设置初始状态
    transition: 0s;
}

 