/*
* @Author: Leon
* @Date:   2016-12-26 10:33:12
 * @Last Modified by: Leon
 * @Last Modified time: 2017-02-03 11:50:19
*/

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent
}

html,
body {
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

b,
strong {
	font-weight: bolder
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

fieldset,
img {
	border: 0
}

abbr,
acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 500
}

ol,
ul {
	list-style: none
}

caption,
th {
	text-align: left
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

a {
	color: inherit;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none
}

a:active,
a:hover {
	outline-width: 0
}

audio:not([controls]) {
	display: none;
	height: 0
}

progress {
	vertical-align: baseline
}

[hidden],
template {
	display: none
}

input,
select,
textarea {
	font-size: 100%
}

button,
input {
	outline: 0;
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"],
[type="text"] {
	-webkit-appearance: none
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

html,
body {
	width: 100%;
	height: 100%;
	background:rgb(245,245,245);
	font-family: "微软雅黑";
}

.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* for IE/Mac */
.indexsection {
	width: 100%;
	height: 100%;
	padding-bottom: 1.2rem;
}
.clearfloat:after {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}
.clear {
	clear: both
}
.onRefresh {
	min-height: 6rem;
}
select {
border: none;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
}
html,body{
	background:#F6F6F6;
	font-family:微软雅黑;
}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
 /* WebKit browsers */ 
color: #cccccc; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
/* Mozilla Firefox 4 to 18 */ 
color: #cccccc; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
 /* Mozilla Firefox 19+ */ 
color: #cccccc; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
 /* Internet Explorer 10+ */ 
color: #cccccc; 
}

input:-webkit-autofill {
         -webkit-box-shadow: 0 0 0px 1000px white inset;
       }
       
body,html,#app{
    height:100%;
}
